[submodule "Anomaly\\Vendor\\spdlog"]
	path = Anomaly\\Vendor\\spdlog
	url = https://github.com/briandl2000/spdlog
[submodule "Anomaly\\Vendor\\glfw"]
	path = Anomaly\\Vendor\\glfw
	url = https://github.com/briandl2000/glfw
[submodule "Anomaly/Vendor/imgui"]
	path = Anomaly/Vendor/imgui
	url = https://github.com/briandl2000/imgui
	branch = docking